 <div *ngFor="let theatre of theatres">
  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>{{theatre.name}}</h1>
      <p>{{theatre.description}}</p>
    </div>
  </section>

  <!-- Image element - set the background image for the header in the line below -->
  <div class="py-5 bg-image-full" [ngStyle]="{'background-image': 'url(' + theatre.image_path + ')'}">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </div>
</div>