<div class="login-body">
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img [src]="user.image" width="225.117px" height="149.8px" alt="Profile pic" onerror="this.src='http://placehold.it/700x400';"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{user.name}}
                            </h5>
                            <p class="proile-rating">AVG RATING : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reservations</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" [value]="this.stateService.role.name"/>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-4 col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.id}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input type="text" class="form-control" [(ngModel)]="user.name" name="name" id="name" placeholder="enter name" title="enter your name"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nickname</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input type="text" class="form-control" [(ngModel)]="user.nickname" name="nickname" id="nickname" placeholder="enter nickname" title="enter your nickname"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input type="text" class="form-control" [(ngModel)]="user.email" name="email" id="email" placeholder="enter email" title="enter your email"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Profile image</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><input type="text" class="form-control" [(ngModel)]="user.image" name="image" id="image" placeholder="enter image" title="enter your image"></p>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success" style="float: right;" (click)="this.updateProfile()">Submit</button>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div *ngIf="this.tickets.length < 1">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Your don't have any reservation!</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="this.tickets.length > 0">
                            <div class="row" *ngFor="let ticket of tickets">
                                <div class="col-md-8">
                                    <label>{{ticket.movie_name}}</label>
                                </div>
                                <div class="col-md-4">
                                    <a style="float: right;" [href]="this.ticketUrl(ticket.id)" target="_blank">Download</a> 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="pagination justify-content-center mb-4" style="float: right;">
                                        <li class="page-item" [ngClass]="{'disabled': page < 2}">
                                          <span *ngIf="page < 2" class="page-link">&larr; Newer</span>
                                          <button *ngIf="page > 1" class="page-link" (click)="this.getPage(page -1)">&larr; Newer</button>
                                        </li>
                                        <li class="page-item" [ngClass]="{'disabled': !this.hasNextPage}">
                                            <span *ngIf="!this.hasNextPage" class="page-link">Older &rarr;</span>
                                            <button *ngIf="this.hasNextPage" class="page-link"  (click)="this.getPage(page +1)">Older &rarr;</button>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
</div>
