<div class="login-body">
  <div class="alert alert-warning text-center" role="alert">
    <strong>Important!</strong> Showtimes are updated every Wednesday for the following week!
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h3 class="my-4">In theatres this week</h3>
  <hr>

  <!-- Project One -->
  <div *ngFor="let movie of movies">
    <div class="row">
      <div class="col-md-2">
        <a routerLink="/movies/{{movie.id}}">
          <img class="img-fluid rounded mb-3 mb-md-0" [src]="movie.poster_path" height="91.4333px" width="160px" alt="Movie image" onerror="this.src='http://placehold.it/700x400';">
        </a>
      </div>
      <div class="col-md-4">
        <h6>{{ movie.name }}</h6>
        <p>
          {{movie.rating || 0}}
          <span class="text-warning">
            <ng-container *ngFor="let i of [].constructor(movie.rating)">&#9733;</ng-container>
            <ng-container *ngFor="let i of [].constructor(5-movie.rating)">&#9734;</ng-container>
          </span>
        </p>
        <p>{{movie.genres || 'N/A'}} | {{movie.run_time || 'N/A'}} min</p>
        <p><span class="font-italic">Movie starts showing from: </span>{{ movie.release_date | date }}</p>
        <button *ngIf="this.tokenAuthService.userSignedIn()" class="btn btn-primary" [disabled]="movie.showtimes.length < 1 ? 'disabled' : null" (click)="this.goReserve(movie.id)">Register</button>
      </div>
      <div *ngFor="let showtime of movie.showtimes" class="col-md-2 text-center">
        <p><strong>{{showtime.projection_time | date:'HH:mm':'UTC'}}</strong></p>
        <p>{{this.getTheatreName(showtime.theatre_id)}}</p>
        <p>{{showtime.projection_date | date: 'fullDate'}}</p>
      </div>
      <hr>
    </div>

    <hr>
  </div>
 
  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{'disabled': page < 2}">
      <span *ngIf="page < 2" class="page-link">Previous</span>
      <button *ngIf="page > 1" class="page-link" (click)="this.getPage(page -1)">Previous</button>
    </li>
    <li *ngIf="page > 1" class="page-item"><button class="page-link" (click)="this.getPage(page -1)">{{page - 1}}</button></li>
    <li class="page-item active">
        <span class="page-link">{{page}}<span class="sr-only">(current)</span>
        </span>
    </li>
    <li *ngIf="this.hasNextPage" class="page-item"><button class="page-link" (click)="this.getPage(page +1)">{{page + 1}}</button></li>
    <li class="page-item" [ngClass]="{'disabled': !this.hasNextPage}">
        <span *ngIf="!this.hasNextPage" class="page-link">Next</span>
        <button *ngIf="this.hasNextPage" class="page-link"  (click)="this.getPage(page +1)">Next</button>
    </li>
  </ul>

</div>
<!-- /.container -->