<app-carousel></app-carousel>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">
      In theatres now
    </h1>
  
    <div class="row">
      <div *ngFor="let movie of movies" class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a routerLink="/movie/{{movie.id}}"><img class="card-img-top" [src]="movie.poster_path" width="348px" height="198.85px" alt="Movie image" onerror="this.src='http://placehold.it/700x400';"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a routerLink="/movie/{{movie.id}}">{{ movie.name }}</a>
            </h4>
            <p class="card-text">{{ movie.summary }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled': page < 2}">
        <span *ngIf="page < 2" class="page-link">Previous</span>
        <button *ngIf="page > 1" class="page-link" (click)="this.getPage(page -1)">Previous</button>
      </li>
      <li *ngIf="page > 1" class="page-item"><button class="page-link" (click)="this.getPage(page -1)">{{page - 1}}</button></li>
      <li class="page-item active">
          <span class="page-link">{{page}}<span class="sr-only">(current)</span>
          </span>
      </li>
      <li *ngIf="this.hasNextPage" class="page-item"><button class="page-link" (click)="this.getPage(page +1)">{{page + 1}}</button></li>
      <li class="page-item" [ngClass]="{'disabled': !this.hasNextPage}">
          <span *ngIf="!this.hasNextPage" class="page-link">Next</span>
          <button *ngIf="this.hasNextPage" class="page-link"  (click)="this.getPage(page +1)">Next</button>
      </li>
    </ul>
  
  </div>
  <!-- /.container -->