 <!-- Page Content -->
 <div class="container">

  <div class="row">
    <div>

      <div class="card mt-4">
        <img class="card-img-top" [src]="movie.poster_path" height="650.283px" width="1138px" alt="Movie image" onerror="this.src='http://placehold.it/700x400';">
        <div class="card-body">
          <h2 class="card-title">{{movie.name}}</h2>
          <hr>
          <div class="row">
            <h5 class="col-2">Release date:</h5>
            <div class="col-4">{{ movie.release_date | date:'mediumDate' }}</div>
          </div>
          <div class="row">
            <h5 class="col-2">Run time:</h5>
            <div class="col-4">{{movie.run_time}} minutes</div>
          </div>
          <div class="row">
            <h5 class="col-2">Starring:</h5>
            <div class="col-4">{{this.formatActors()}}</div>
          </div>
          <div class="row">
            <h5 class="col-2">Genre:</h5>
            <div class="col-4">{{this.formatGenre()}}</div>
          </div>
          <hr>
          <p class="card-text">{{movie.summary}}</p>
          <span class="text-warning">
            <ng-container *ngFor="let i of [].constructor(Math.round(movie.rating))">&#9733;</ng-container>
            <ng-container *ngFor="let i of [].constructor(5-Math.round(movie.rating))">&#9734;</ng-container>
          </span>
          {{movie.rating}} star(s)
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Movie Reviews
        </div>
        <div class="card-body">
          <div *ngIf="reviews.length < 1">
            <p>There is no reviews for this movie!</p>
            <hr>
          </div>
          <div *ngFor="let review of reviews">
            <p>{{review.review_text}}</p>
            <small *ngIf="!review.user_id" class="text-muted">Posted by Anonymous on {{ review.updated_at | date:'medium' }}</small>
            <small *ngIf="review.user_id" class="text-muted">Posted by {{this.getReviewersName(review.user_id)}} on {{ review.updated_at | date:'medium' }}</small>
             |
            <span class="text-warning">
              <ng-container *ngFor="let i of [].constructor(review.rating)">&#9733;</ng-container>
              <ng-container *ngFor="let i of [].constructor(5-review.rating)">&#9734;</ng-container>
            </span>
            <hr>
          </div>
          <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" style="margin-top: 10px; margin-bottom: 10px;">
            <formly-form [form]="commentForm" [fields]="fields" [model]="model"></formly-form>
            <button type="submit" class="btn btn-success">Leave a Review</button>
          </form>
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->