 <!-- Page Content -->
 <div class="container">

  <div class="row">
    <div>

      <div class="card mt-4">
        <img class="card-img-top img-fluid" [src]="movie.poster_path" height="650.283px" width="1138px" alt="Movie image" onerror="this.src='http://placehold.it/700x400';">
        <div class="card-body">
          <h2 class="card-title">{{movie.name}}</h2>
          <hr>
          <div class="row">
            <h5 class="col-2">Run time:</h5>
            <div class="col-4">{{movie.run_time}} minutes</div>
          </div>
          <div class="row">
            <h5 class="col-2">Starring:</h5>
            <div class="col-4">{{this.formatActors()}}</div>
          </div>
          <div class="row">
            <h5 class="col-2">Genre:</h5>
            <div class="col-4">{{this.formatGenre()}}</div>
          </div>
          <hr>
          <p class="card-text">{{movie.summary}}</p>
          <span class="text-warning">
            <ng-container *ngFor="let i of [].constructor(movie.rating)">&#9733;</ng-container>
            <ng-container *ngFor="let i of [].constructor(5-movie.rating)">&#9734;</ng-container>
          </span>
          {{movie.rating}} star(s)
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Movie Reviews
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <a href="#" class="btn btn-success">Leave a Review</a>
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->