<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Movies
      <small>Browse your favourite cinematography</small>
    </h1>

    <!-- Project One -->
    <div *ngFor="let movie of movies">
      <div class="row">
        <div class="col-md-7">
          <a routerLink="/movie/{{movie.id}}">
            <img class="img-fluid rounded mb-3 mb-md-0" [src]="movie.poster_path" height="362.85px" width="635px" alt="Movie image" onerror="this.src='http://placehold.it/700x400';">
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{ movie.name }}</h3>
          <p>{{ movie.summary }}</p>
          <a class="btn btn-primary" routerLink="/movie/{{movie.id}}">View Movie</a>
        </div>
        <hr>
      </div>

      <hr>
    </div>
   
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled': page < 2}">
        <span *ngIf="page < 2" class="page-link">Previous</span>
        <button *ngIf="page > 1" class="page-link" (click)="this.getPage(page -1)">Previous</button>
      </li>
      <li *ngIf="page > 1" class="page-item"><button class="page-link" (click)="this.getPage(page -1)">{{page - 1}}</button></li>
      <li class="page-item active">
          <span class="page-link">{{page}}<span class="sr-only">(current)</span>
          </span>
      </li>
      <li *ngIf="this.hasNextPage" class="page-item"><button class="page-link" (click)="this.getPage(page +1)">{{page + 1}}</button></li>
      <li class="page-item" [ngClass]="{'disabled': !this.hasNextPage}">
          <span *ngIf="!this.hasNextPage" class="page-link">Next</span>
          <button *ngIf="this.hasNextPage" class="page-link"  (click)="this.getPage(page +1)">Next</button>
      </li>
    </ul>

  </div>
  <!-- /.container -->