<!-- Page Content -->
<div class="container" id="news-content">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Latest News
        </h1>

        <div *ngIf="news.length < 1">
          No news found matching that criteria!
        </div>

        <!-- Blog Post -->
        <div class="card mb-4" *ngFor="let newsArticle of news">
          <img class="card-img-top" [src]="newsArticle.poster_path" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{newsArticle.title}}</h2>
            <p class="card-text">{{newsArticle.short_description}}</p>
            <a routerLink="/news/{{newsArticle.id}}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ newsArticle.updated_at | date:'fullDate' }} 
          </div>
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item" [ngClass]="{'disabled': page < 2}">
            <span *ngIf="page < 2" class="page-link">&larr; Newer</span>
            <button *ngIf="page > 1" class="page-link" (click)="this.getPage(page -1)">&larr; Newer</button>
          </li>
          <li class="page-item" [ngClass]="{'disabled': !this.hasNextPage}">
              <span *ngIf="!this.hasNextPage" class="page-link">Older &rarr;</span>
              <button *ngIf="this.hasNextPage" class="page-link"  (click)="this.getPage(page +1)">Older &rarr;</button>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <app-search></app-search>

        <app-categories></app-categories>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->